.modal-booking .modal-dialog {
    top      : -200px;
    max-width: 1000px;
}

.form-control-flatpickr {
    background-color: #FFFFFF;
    border          : 1px solid #E3E3E3;
    border-radius   : 4px;
    color           : #565656;
    padding         : 8px 12px;
    height          : 40px;
    box-shadow      : none;
    display         : block;
    width           : 100%;
}